{% extends('homepage.html') %}

{% block title %}
   Registrar
{% endblock %}

{% block content %}
 <div class="container d-flex justify-content-center align-items-center vh-100">
        <main class="form-signin w-100 m-auto">

    <form method = "POST" action={{ url_for('criar_conta') }}>
        {{ form.csrf_token }}

         <h1 class="h3 mb-3 fw-normal">Faça seu cadastro</h1>

                <div class="form-floating mt-2">
                  <input type="username" class="form-control" name="username" id="username" placeholder="">
                  <label for="username">Nome de usuario</label>
                </div>

                <div class="form-floating mt-2">
                  <input type="email" class="form-control" name="email" id="email" placeholder="">
                  <label for="email">Email</label>
                </div>

                <div class="form-floating mt-2">
                  <input type="password" class="form-control" id="senha" name="senha" placeholder="">
                  <label for="senha">Senha</label>
                </div>

                <div class="form-floating mt-2">
                  <input type="password" class="form-control" id="confirmacao_senha" name="confirmacao_senha" placeholder="">
                  <label for="confirmacao_senha">Confirme a Senha</label>
                </div>

                <button class="btn btn-primary w-100 py-2 mb-4" type="submit">Cadastrar </button>
              </form>
                <p>Já possui uma conta? <a class="text-primary text-decoration-none" href={{ url_for('homepage') }}>Entrar aqui</a></p>
        </main>
    </div>
{% endblock %}

{% block footer %}
    {% include('footer.html') %}
{% endblock %}